@import "../variables";

.cp-tab-content {
  margin-top: 50px;

  &__main {
    line-height: 2;
    margin-right: 100px;
    display: flex !important;

    i {
      color: $black;
      font-size: 55px;
      margin-right: 25px;
    }
  }

  &__articlesContainer {
    @media (min-width: $screen-md) {
      margin: 50px 0 0 250px;
    }
  }

  &__article {
    padding-bottom: 40px;
  }
}
