@import "../variables";

.cp-selector {
  @media (min-width: $screen-md) {
    margin: 50px 0 0 50px;
  }

  &__label {
    margin-bottom: 10px;
  }

  label {
    cursor: pointer;
    letter-spacing: 2px;
  }

  input {
    visibility: hidden;
  }

  &__checkmark {
    color: $black;

    &::before {
      background-image: url('../../../../public/images/checkmark.png');
      background-size: 20px 20px;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      content:"";
    }
  }
}
